<div class="container mt-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <form [formGroup]="form">
              <div
                *ngIf="errorMessage !== ''"
                class="alert alert-danger"
                role="alert">
                {{ errorMessage }}
              </div>
              <div
                *ngIf="successMessage !== ''"
                class="alert alert-success"
                role="alert">
                {{ successMessage }}
              </div>
              <h1>Sing Up</h1>
              <p class="text-muted">Create your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><fa-icon [icon]="faUser"></fa-icon
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  autocomplete="name"
                  formControlName="name" />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><fa-icon [icon]="faUser"></fa-icon
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  autocomplete="email"
                  formControlName="email" />
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><fa-icon [icon]="faLock"></fa-icon
                  ></span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  autocomplete="current-password"
                  formControlName="password" />
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><fa-icon [icon]="faLock"></fa-icon
                  ></span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Retype Password"
                  formControlName="passwordrepeat" />
              </div>
              <div class="row">
                <div class="col-6">
                  <button
                    type="button"
                    class="btn btn-primary px-4"
                    (click)="onSubmit()">
                    Sign Up
                  </button>
                </div>
                <div class="col-6 d-flex">
                  <a
                    class="text-yellow btn btn-link position-right"
                    routerLink="/"
                    >Sign In</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
